div.column
  i.fa.fa-2x.fa-recycle.clear-completed
div.lines
input.add-todo-input(placeholder="Add a todo" maxlength="40")= text
input.datepicker(type="text" placeholder="Due date")= dueDate
button.btn.btn-primary.add-todo-btn Add
